<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='JavsScript/script.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Скачать</title>
</head>
<header>
 <nav class="sticky">
    <ul>
       <li><a href="/">Главная</a></li>
      <li><a href="/upload">Реализация</a></li>
      <li><a href="/check_photo">Проверка фото</a></li>
        <li><a href="/avtore">Об авторах</a></li>
    </ul>
  </nav>
</header>
<body>
    <div class="upload_photo2">
        <p>Обращаем Ваше внимание на то, что подписанное изображение необходимо передавать без сжатия.<br> В противном случае, поставленная подпись станет недействительной  </p>
        <a href="{{ url_for('static', filename='static/photos_water_marks' + filename) }}" download=""><br>Cкачать фото</a>

    </div>

    <footer>
       <p> CyberBeats 2023</p>
    </footer>

</body>
</html>


