<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='JavsScript/script.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Главная страница</title>
</head>
<header>
 <nav class="sticky">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/upload">Реализация</a></li>
      <li><a href="/check_photo">Проверка фото</a></li>
        <li><a href="/avtore">Об авторах</a></li>
    </ul>
  </nav>
</header>
<body>
 <section class="hero">
    <div class="hero-text">
    Доброго времени суток , пора за работу !
    </div>
  </section>
  <section class="content">

   <p>В наше время, когда информация легко распространяется и доступна всем, найти достоверную информацию становится все сложнее. Однако, важность истинной информации в современном мире не может быть переоценена.

Несмотря на то, что в Интернете можно найти информацию по любой теме, среди этой информации могут быть и ложные сведения. Возможность распространять фальсифицированную информацию находится в руках каждого, и это может привести к негативным последствиям.</p>
     
  </section>
    <footer>
       <p> CyberBeats 2023</p>
    </footer>

</body>
</html>