<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успех</title>
</head>
<header>
 <nav class="sticky">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/upload">Реализация</a></li>
      <li><a href="/check_photo">Проверка фото</a></li>
        <li><a href="/avtore">Об авторах</a></li>
    </ul>
  </nav>
</header>
<body>



<div class="rrr">
    <p>Все успешно ! Фотография прошла проверку </p>
</div>
    <footer>
       <p> CyberBeats 2023</p>
    </footer>
</body>
</html>
</body>
</html>